
.follow-request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc; 
  padding: 20px;
  padding-top: 150px;
  margin: 20px auto; 
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 600px;
}

.follower-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.follower-info div {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  gap: 10px;
}

.accept-button,
.deny-button {
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.accept-button {
  background-color: #28a745;
  color: white;
}

.accept-button:hover {
  background-color: #218838;
}

.deny-button {
  background-color: #dc3545;
  color: white;
}

.deny-button:hover {
  background-color: #c82333;
}


.accept-button:focus,
.deny-button:focus {
  outline: none;
}


.follow-requests-container {
  padding: 20px;
  margin-top: 80px;
}
